{% extends 'about.html' %}
{% load static %}
{% block content %}
<section class="gallery" >
  <br>
  <h1 class="text-center">Blogs</h1>
  <br>
  <div class="container">
    <div class="row">
    <div class="col-md-4 p-2">
      <img src="https://lh3.googleusercontent.com/proxy/V-IgqYPcnJH3xypYsYdzasSCLcAF5vGzog6mhTqpZ-il8qZQttgN7_0Gn4fq-dARGaAR07vT2lZCTkeNnopwodRTJ9PMXOijsXLBxz3UH5UB" class="img-fluid" alt="">
    </div>
    <div class="col-md-4 p-2">
      <img src="https://lh3.googleusercontent.com/proxy/V-IgqYPcnJH3xypYsYdzasSCLcAF5vGzog6mhTqpZ-il8qZQttgN7_0Gn4fq-dARGaAR07vT2lZCTkeNnopwodRTJ9PMXOijsXLBxz3UH5UB" class="img-fluid" alt="">
    </div>
    <div class="col-md-4 p-2">
      <img src="https://lh3.googleusercontent.com/proxy/V-IgqYPcnJH3xypYsYdzasSCLcAF5vGzog6mhTqpZ-il8qZQttgN7_0Gn4fq-dARGaAR07vT2lZCTkeNnopwodRTJ9PMXOijsXLBxz3UH5UB" class="img-fluid" alt="">
    </div>
    <div class="col-md-4 p-2">
      <img src="https://lh3.googleusercontent.com/proxy/V-IgqYPcnJH3xypYsYdzasSCLcAF5vGzog6mhTqpZ-il8qZQttgN7_0Gn4fq-dARGaAR07vT2lZCTkeNnopwodRTJ9PMXOijsXLBxz3UH5UB" class="img-fluid" alt="">
    </div>
    <div class="col-md-4 p-2">
      <img src="https://lh3.googleusercontent.com/proxy/V-IgqYPcnJH3xypYsYdzasSCLcAF5vGzog6mhTqpZ-il8qZQttgN7_0Gn4fq-dARGaAR07vT2lZCTkeNnopwodRTJ9PMXOijsXLBxz3UH5UB" class="img-fluid" alt="">
    </div>
    <div class="col-md-4 p-2">
      <img src="https://lh3.googleusercontent.com/proxy/V-IgqYPcnJH3xypYsYdzasSCLcAF5vGzog6mhTqpZ-il8qZQttgN7_0Gn4fq-dARGaAR07vT2lZCTkeNnopwodRTJ9PMXOijsXLBxz3UH5UB" class="img-fluid" alt="">
    </div>
    </div>

  </div>

</section>
<br>
<br>
<br>
<br>

<br>

<br>
<br>
<br>
{% endblock %}
