{% extends 'about.html' %}
{% load static %}


{% block content %}
<br>
<div class="container">
  <div class="p-2">
    <h1 class="text-center">{{ blog_detail.title }}</h1>
    <br>
    <img src="{{ blog_detail.image }}" style="width:100%; " alt="None">
    <div class="text-muted">
      <i>{{ blog_detail.created }}</i>
    </div>
    <div class="paragraph p-1">
      <p style='font-weight:500; font-size:1.2em; letter-spacing:0.05em;'>{{blog_detail.content }}</p>
    </div>
    
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{% endblock %}