@font-face {
font-family: 'Xirod-Regular';
font-style: normal;
font-weight: normal;
src: local('Xirod-Regular'), url('xirod.woff') format('woff');
}

body{

}
.top{
  background-image: url('images/drone-4980569_1920.jpg');
  /* Full height */
 height: 100vh;
 max-width: 100%;
display: block;
background-attachment: fixed;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.navbar-brand{
  color: white!important;
  font-family:'Xirod-Regular';
}
.nav-link{

  font-weight: 700;
}
.navbar-brand h3{
font-size: 23px;

}

.nav-item{
  font-size: 17px;
  font-weight: 700;
}
.top-content{
padding-left: 0.4em;


}
.top-content h2{
  color: #fff;
  font-weight: 700;
  font-size: 45px;
}
.top-content p{
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.14em;
}
.semi-transparent-button {
	display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.semi-transparent-button:hover {
	background-color: rgba(255,255,255, 0.5);
	color: #FFF;
}
.s-2{
  margin-top: 5em;
}
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cabin:ital,wght@1,500&family=Roboto:wght@500&display=swap');
.s-2 p ,li{
font-family: 'Cabin', sans-serif;
font-weight: bold;
color: grey;
line-height: 2em;
}
.s-2 h3{
  font-family: 'Bree Serif', serif;
  font-weight: 700;
  font-size: 2.2em;

}
.department h1{
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.08em;
}
.card{
box-shadow: 10px 12px 15px -8px rgba(151,214,237,1);
}
.leaders h1{
  font-size: 40px;
  font-weight: 700;
}
.leaders p{
  font-size: 1.2em;
  color:black;
  font-weight: bold;
}
.leaders{
background-image: url('images/lead.jpg');
display: block;
background-attachment: fixed;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.sponsers h1{
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.08em;
}
.footer{
  background-color: #1e272e;
  color:white;
}
.map iframe{
  width: 100%;
  height: 100%;
}
